= semantic_form_for @recipe do |f|
  = f.inputs "Recipes" do
    = f.input :title
    = f.input :instructions, :as => :ckeditor, :input_html => { :ckeditor => { :height => 400 } }
    = f.input :slug
    
  = f.actions